### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [11]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "C:\\Users\\tepa75\\OneDrive\\Desktop\\UCBBoot\\HeroesOfPymoli\\04-Pandas_Homework_HeroesOfPymoli_Resources_purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [65]:
df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [66]:
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [68]:
TotalPlayers = df["Purchase ID"].count()
print(TotalPlayers)

780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [58]:
UniqueCount = df["Item Name"].nunique
print(UniqueCount)

<bound method IndexOpsMixin.nunique of 0         Extraction, Quickblade Of Trembling Hands
1                                 Frenzied Scimitar
2                                      Final Critic
3                                       Blindscythe
4                                              Fury
5                                         Dreamkiss
6            Interrogator, Blood Blade of the Queen
7                                     Abyssal Shard
8                                         Souleater
9                      Ghastly Adamantite Protector
10                            Singed Onyx Warscythe
11                                    Abyssal Shard
12                          Renewed Skeletal Katana
13                               Bloodlord's Fetish
14                      Bone Crushing Silver Skewer
15                      Deadline, Voice Of Subtlety
16                                    Second Chance
17                                           Devine
18                                          Nirvana
19                Blazefury, Protector of Delusions
20                  Despair, Favor of Due Diligence
21              Sun Strike, Jaws of Twisted Visions
22                                    Warped Fetish
23                                        Severance
24                                       Persuasion
25     Oathbreaker, Last Hope of the Breaking Storm
26                                           Demise
27                      Blood-Forged Skeletal Spine
28        Stormbringer, Dark Blade of Ending Misery
29              Shadow Strike, Glory of Ending Hope
                           ...
750                     Malice, Legacy of the Queen
751                                     Stormcaller
752                                    Worldbreaker
753    Oathbreaker, Last Hope of the Breaking Storm
754                             Alpha, Oath of Zeal
755                        Haunted Bronzed Bludgeon
756                                     Ritual Mace
757                 Despair, Favor of Due Diligence
758                                       Toothpick
759                                   Winter's Bite
760                           Bonecarvin Battle Axe
761                    Lazarus, Terror of the Earth
762                                      Suspension
763                                  Malificent Bag
764                               Solitude's Reaver
765                                           Alpha
766               Freak's Bite, Favor of Holy Might
767                                    Final Critic
768                                    Final Critic
769                            Fiery Glass Crusader
770                                           Dawne
771                                       Hero Cane
772                    Ghastly Adamantite Protector
773                   Pursuit, Cudgel of Necromancy
774                                    Final Critic
775                                            Wolf
776                                Exiled Doomblade
777           Celeste, Incarnation of the Corrupted
778                                    Final Critic
779                                            Dawn
Name: Item Name, Length: 780, dtype: object>

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame