### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [31]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "04-Pandas_Homework_HeroesOfPymoli_Resources_purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_load)

In [32]:
df.columns
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [33]:
# Using the nunique method to find out the number of unique players
TotalPlayers = pd.DataFrame({"Total Players":df["SN"].nunique()},index=[0])

TotalPlayers

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [34]:
# Find unique values of items based on the Item Id
UniqueCount = df["Item ID"].nunique()

In [35]:
AvgPrice = df["Price"].mean()
#AvgPrice
NumberofPurchases = df["Purchase ID"].nunique()
#NumberofPurchases
TotalRev = df["Price"].sum()

Summary = pd.DataFrame({"Number of Unique Items": UniqueCount,"Average Price":AvgPrice,"Number of Purchases":NumberofPurchases,"Total Revenue":TotalRev},index=[0])
Summary["Average Price"] = Summary["Average Price"].map('${:,.2f}'.format)
Summary["Total Revenue"] = Summary["Total Revenue"].map('${:,.2f}'.format)
Summary

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [36]:
gen_demo = df.groupby("Gender").SN.nunique().reset_index()
gen_demo['Percentage of Players'] = 100 * gen_demo["SN"] /  gen_demo["SN"].sum()
gen_demo['Percentage of Players'] = gen_demo['Percentage of Players'].map('{:,.2f}%'.format)
gen_demo.set_index('Gender',inplace=True)
gen_demo.rename(columns={"SN":"Total Count"},inplace=True)
gen_final = gen_demo.sort_values(by=["Percentage of Players"], ascending=False)
gen_final

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [37]:
# This is used to capture the purchase count
gen_pc = df.groupby("Gender")["Purchase ID"].count()

In [38]:
# This is used to calculate the average purchase price
gen_pp = df.groupby("Gender")["Price"].mean()

In [39]:
# This is used to calculate the total purchase price
gen_pv= df.groupby("Gender")["Price"].sum()

In [40]:
# Now that we have the count, mean and sum we merge those tables to create our summary
combined_summary = pd.merge(gen_pc,gen_pp, on="Gender")
combined_summary = pd.merge(combined_summary,gen_pv, on="Gender")
combined_summary.rename(columns={"Purchase ID":"Purchase Count","Price_x":"Average Purchase Price","Price_y":"Total Purchase Value"},inplace=True)
combined_summary["Count"] = gen_final["Total Count"]
combined_summary["Total Purchase Price / Person"] = combined_summary["Total Purchase Value"] / combined_summary["Count"]
combined_summary["Average Purchase Price"] = combined_summary["Average Purchase Price"].map("${:,.2f}".format)
combined_summary["Total Purchase Value"] = combined_summary["Total Purchase Value"].map("${:,.2f}".format)
combined_summary["Total Purchase Price / Person"] = combined_summary["Total Purchase Price / Person"].map("${:,.2f}".format)
del combined_summary["Count"]
combined_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Total Purchase Price / Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [41]:
# Set up bins for ages
ages = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
bins = [0,9,14,19,24,29,34,39,100]

In [42]:
df["Age_Bucket"] = pd.cut(df["Age"],bins,labels=ages)

# Remove any duplicates by SN
age_unique = df.drop_duplicates(subset = "SN",keep = 'first')
age_unique.groupby("Age_Bucket")[['Purchase ID']].count()
age_summary = age_unique.groupby(["Age_Bucket"])[["Age"]].count()
age_summary.rename(columns={"Age":"Total Count"},inplace=True)
Total = age_summary["Total Count"].sum()
age_summary["Percentage of Players"]=(age_summary["Total Count"] / Total * 100).map("{:.2f}%".format)
age_summary

            Total Count Percentage of Players
Age_Bucket
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [43]:
purchase_count = df.groupby("Age_Bucket")[['Purchase ID']].count()
avg_purch_price = df.groupby("Age_Bucket")[['Price']].mean()
tot_purch_price = df.groupby("Age_Bucket")[['Price']].sum()
avg_per_person = tot_purch_price / purchase_count
purchase_summary = pd.merge(purchase_count,avg_purch_price, on="Age_Bucket")
purchase_summary = pd.merge(purchase_summary,tot_purch_price, on="Age_Bucket")
purchase_summary = pd.merge(purchase_summary,age_summary["Total Count"], on="Age_Bucket")
purchase_summary["Avg Total Purchase per Person"]=purchase_summary["Price_y"] / purchase_summary["Total Count"]
purchase_summary.rename(columns={"Purchase ID":"Purchase Count","Price_x":"Average Purchase Price","Price_y":"Total Purchase Value"},inplace=True)
del purchase_summary["Total Count"]
purchase_summary["Average Purchase Price"] = purchase_summary["Average Purchase Price"].map("${:,.2f}".format)
purchase_summary["Total Purchase Value"] = purchase_summary["Total Purchase Value"].map("${:,.2f}".format)
purchase_summary["Avg Total Purchase per Person"] = purchase_summary["Avg Total Purchase per Person"].map("${:,.2f}".format)
purchase_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age_Bucket,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [44]:
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age_Bucket
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [45]:
sn_group = df.groupby("SN").agg({"Purchase ID":"count","Price":["mean","sum"]})
sn_group.columns = list(map(''.join, sn_group.columns.values))
sn_group.rename(columns={"Purchase IDcount":"Purchase Count","Pricemean":"Average Purchase Price","Pricesum":"Total Purchase Value"},inplace=True)
sn_top = sn_group.sort_values(["Total Purchase Value"], ascending = False)
sn_top = sn_top.head()
sn_top["Average Purchase Price"] = sn_top["Average Purchase Price"].map("${:,.2f}".format)
sn_top["Total Purchase Value"] = sn_top["Total Purchase Value"].map("${:,.2f}".format)
sn_top

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [46]:
pop_id = df.groupby(["Item ID","Item Name"]).agg({"Purchase ID":"count","Price":"sum"})
pop_id = pop_id.merge(df,left_on="Item ID",right_on="Item ID")
del pop_id["Purchase ID_y"]
del pop_id["SN"]
del pop_id["Age"]
del pop_id["Gender"]
del pop_id["Age_Bucket"]
pop_id.rename(columns={"Purchase ID_x":"Purchase Count","Price_x":"Total Purchase Value","Price_y":"Item Price"},inplace=True)
pop_id.drop_duplicates("Item ID", keep='first',inplace=True)
pop_id.sort_values("Purchase Count",ascending=False,inplace=True)
pop_final = pop_id[["Item ID","Item Name","Purchase Count","Item Price","Total Purchase Value"]].head()
pop_final["Item ID"] = pop_final.index
pop_final["Item Price"] = pop_id["Item Price"].map("${:,.2f}".format)
pop_final["Total Purchase Value"] = pop_id["Total Purchase Value"].map("${:,.2f}".format)
pop_final.set_index("Item ID")

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
750,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
613,Fiery Glass Crusader,9,$4.58,$41.22
456,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
340,Nirvana,9,$4.90,$44.10
80,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [47]:
most_prof = pop_id[["Item ID","Item Name","Purchase Count","Item Price","Total Purchase Value"]]
most_prof.sort_values("Total Purchase Value",ascending=False,inplace=True)
most_prof["Item Price"] = most_prof["Item Price"].map("${:,.2f}".format)
most_prof["Total Purchase Value"] = most_prof["Total Purchase Value"].map("${:,.2f}".format)
most_prof.set_index("Item ID")
most_prof_final = most_prof.head()
most_prof_final

,Item ID,Item Name,Purchase Count,Item Price,Total Purchase Value
750,178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
340,82,Nirvana,9,$4.90,$44.10
613,145,Fiery Glass Crusader,9,$4.58,$41.22
381,92,Final Critic,8,$4.88,$39.04
436,103,Singed Scalpel,8,$4.35,$34.80