### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [62]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "04-Pandas_Homework_HeroesOfPymoli_Resources_purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_load)

In [63]:
df.columns
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [64]:
TotalPlayers = pd.DataFrame({"Total Players":df["SN"].nunique()},index=[0])

TotalPlayers

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [65]:
UniqueCount = df["Item ID"].nunique()

print(UniqueCount)

183

In [66]:
AvgPrice = df["Price"].mean()
#AvgPrice
NumberofPurchases = df["Purchase ID"].nunique()
#NumberofPurchases
TotalRev = df["Price"].sum()
TotalRev

Summary = pd.DataFrame({"Number of Unique Items": UniqueCount,"Average Price":AvgPrice,"Number of Purchases":NumberofPurchases,"Total Revenue":TotalRev},index=[0])
Summary["Average Price"] = Summary["Average Price"].map('${:,.2f}'.format)
Summary["Total Revenue"] = Summary["Total Revenue"].map('${:,.2f}'.format)
Summary

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [67]:
gen_demo = df.groupby("Gender").SN.nunique().reset_index()

gen_demo['Percentage of Players'] = 100 * gen_demo["SN"] /  gen_demo["SN"].sum()
gen_demo['Percentage of Players'] = gen_demo['Percentage of Players'].map('{:,.2f}%'.format)
gen_demo.set_index('Gender',inplace=True)
gen_demo.rename(columns={"SN":"Total Count"},inplace=True)
gen_final = gen_demo.sort_values(by=["Percentage of Players"], ascending=False)
gen_final

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [68]:
# This is used to capture the purchase count
gen_pc = df.groupby("Gender")["Purchase ID"].count()
gen_pc

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [69]:
# This is used to calculate the average purchase price
gen_pp = df.groupby("Gender")["Price"].mean()
gen_pp

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [70]:
# This is used to calculate the total purchase price
gen_pv= df.groupby("Gender")["Price"].sum()
gen_pv

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [71]:
gen_users=df.groupby("Gender")["SN"].count()
gen_users

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: SN, dtype: int64

In [96]:
combined_summary = pd.merge(gen_pc,gen_pp, on="Gender")
combined_summary = pd.merge(combined_summary,gen_pv, on="Gender")
combined_summary.rename(columns={"Purchase ID":"Purchase Count","Price_x":"Average Purchase Price","Price_y":"Total Purchase Value"},inplace=True)
combined_summary["Count"] = gen_final["Total Count"]
combined_summary["Total Purchase Price / Person"] = combined_summary["Total Purchase Value"] / combined_summary["Count"]
combined_summary["Average Purchase Price"] = combined_summary["Average Purchase Price"].map("${:.2f}".format)
combined_summary["Total Purchase Value"] = combined_summary["Total Purchase Value"].map("${:.2f}".format)
combined_summary["Total Purchase Price / Person"] = combined_summary["Total Purchase Price / Person"].map("${:.2f}".format)
del combined_summary["Count"]
combined_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Total Purchase Price / Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [74]:
bins = np.linspace(0, 1, 10)
bins

array([0.        , 0.11111111, 0.22222222, 0.33333333, 0.44444444,
       0.55555556, 0.66666667, 0.77777778, 0.88888889, 1.        ])

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame