### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [199]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "04-Pandas_Homework_HeroesOfPymoli_Resources_purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_load)

In [200]:
df.columns
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [201]:
TotalPlayers = pd.DataFrame({"Total Players":df["SN"].nunique()},index=[0])

TotalPlayers

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [202]:
UniqueCount = df["Item ID"].nunique()

print(UniqueCount)

183

In [203]:
AvgPrice = df["Price"].mean()
#AvgPrice
NumberofPurchases = df["Purchase ID"].nunique()
#NumberofPurchases
TotalRev = df["Price"].sum()
TotalRev

Summary = pd.DataFrame({"Number of Unique Items": UniqueCount,"Average Price":AvgPrice,"Number of Purchases":NumberofPurchases,"Total Revenue":TotalRev},index=[0])
Summary["Average Price"] = Summary["Average Price"].map('${:,.2f}'.format)
Summary["Total Revenue"] = Summary["Total Revenue"].map('${:,.2f}'.format)
Summary

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [204]:
gen_demo = df.groupby("Gender").SN.nunique().reset_index()

gen_demo['Percentage of Players'] = 100 * gen_demo["SN"] /  gen_demo["SN"].sum()
gen_demo['Percentage of Players'] = gen_demo['Percentage of Players'].map('{:,.2f}%'.format)
gen_demo.set_index('Gender',inplace=True)
gen_demo.rename(columns={"SN":"Total Count"},inplace=True)
gen_final = gen_demo.sort_values(by=["Percentage of Players"], ascending=False)
gen_final

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [205]:
# This is used to capture the purchase count
gen_pc = df.groupby("Gender")["Purchase ID"].count()

In [206]:
# This is used to calculate the average purchase price
gen_pp = df.groupby("Gender")["Price"].mean()

In [207]:
# This is used to calculate the total purchase price
gen_pv= df.groupby("Gender")["Price"].sum()

In [208]:
combined_summary = pd.merge(gen_pc,gen_pp, on="Gender")
combined_summary = pd.merge(combined_summary,gen_pv, on="Gender")
combined_summary.rename(columns={"Purchase ID":"Purchase Count","Price_x":"Average Purchase Price","Price_y":"Total Purchase Value"},inplace=True)
combined_summary["Count"] = gen_final["Total Count"]
combined_summary["Total Purchase Price / Person"] = combined_summary["Total Purchase Value"] / combined_summary["Count"]
combined_summary["Average Purchase Price"] = combined_summary["Average Purchase Price"].map("${:.2f}".format)
combined_summary["Total Purchase Value"] = combined_summary["Total Purchase Value"].map("${:.2f}".format)
combined_summary["Total Purchase Price / Person"] = combined_summary["Total Purchase Price / Person"].map("${:.2f}".format)
del combined_summary["Count"]
combined_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Total Purchase Price / Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [209]:
# Set up bins for ages
ages = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
bins = [0,9,14,19,24,29,34,39,100]

In [210]:
df["Age_Bucket"] = pd.cut(df["Age"],bins,labels=ages)

# Remove any duplicates by SN
age_unique = df.drop_duplicates(subset = "SN",keep = 'first')
age_unique.groupby("Age_Bucket")[['Purchase ID']].count()
age_summary = age_unique.groupby(["Age_Bucket"])[["Age"]].count()
age_summary.rename(columns={"Age":"Total Count"},inplace=True)
Total = age_summary["Total Count"].sum()
age_summary["Percentage of Players"]=(age_summary["Total Count"] / Total * 100).map("{:.2f}%".format)
age_summary

            Total Count Percentage of Players
Age_Bucket
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [211]:
age_unique.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age_Bucket
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [212]:
purchase_count = df.groupby("Age_Bucket")[['Purchase ID']].count()
avg_purch_price = df.groupby("Age_Bucket")[['Price']].mean()
tot_purch_price = df.groupby("Age_Bucket")[['Price']].sum()
avg_per_person = tot_purch_price / purchase_count
puchase_summary = pd.DataFrame({"Age_Bucket":"Age","Purchase Count":"purchase_count"}, index="Age_Bucket")
purchase_summary
# combined_summary = pd.merge(gen_pc,gen_pp, on="Gender")

TypeError: Index(...) must be called with a collection of some kind, 'Age_Bucket' was passed

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame